:root{

    --blue-color: #014b8d;
    --green-color: #10ae4f;
    --white-color: #f2f4f6;
    --black-color: #000000;
    --gray-color: #807a7a;
    --darkgray-color: #222;;
    --shadow-color: rgba(0, 0, 0, 0.6);


    --time-transition: .3s;

}