@media (min-width: 768px) {
	.section-padding {
		padding: 0 3.4em 2em;
	}

	// --------------- aside  headerTop
	.headerTop {
		padding: 1.2em 2em;

		&::before,
		&__btn-nav {
			display: none;
		}

		&__logo {
			width: 60px;
		}

		&__text-logo {
			font-size: var(--fontsize--thirty-six);
		}

		&__box-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.4em;
		}

		&__btn {
			padding: 0.4em 2em;
			color: var(--white-color);
			background-color: var(--blue-color);
			border: none;

			&::before {
				background-color: var(--green-color);
			}
		}
	}

	// --------------- nav
	.nav {
		display: flex;
		position: relative;
		top: -10px;
		max-width: 860px;
		margin: 0 auto;
		padding-top: 0;
		padding-bottom: 0.2em;
		transform: translate(0);
		overflow: visible;

		&__list {
			flex-direction: row;
		}

		&__link {
			padding: 0.2em 0.6em;

			&--none {
				display: none;
			}

			&::before {
				content: '';
				position: absolute;
				top: 90%;
				left: 0;
				width: 100%;
				height: 3px;
				transform: scaleX(0);
				background-color: var(--blue-color);
				transition: transform var(--time-transition);
			}

			&:hover::before {
				transform: scaleX(1);
			}
		}

		&__item:hover .nav__dropdown {
			position: absolute;
		}
	}

	// --------------- header
	.header {
		background-image: url('../img/header1-big.jpg');

		&__headline {
			font-size: var(--fontsize--fifty);
		}

		&__text {
			display: block;
			margin-top: 0.2em;
		}

		&__btn {
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			height: 110px;
			width: 33px;
			color: inherit;
			background-color: var(--blue-color);
			border: none;
			font-weight: 600;
			transition: opacity var(--time-transition);
			transform: translateY(-50%);
			z-index: 2;
			opacity: 0.5;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}

			&--right {
				left: calc(100% - 33px);
			}
		}
	}

	// --------------- featured
	.featured {
		&__card {
			margin: 0 1em;
			max-width: 200px;
		}
	}

	// --------------- news
	.news {
		transform: translateY(-110px);

		&__card {
			max-width: 350px;
		}

		&__title {
			font-size: var(--fontsize--twenty-two);
		}

		&__text {
			font-size: var(--fontsize--eighteen);
		}
	}

	// --------------- contact
	.contact {
		&__content {
			padding-top: 3em;
			padding-bottom: 3em;
		}

		&__list {
			gap: 0 2em;
			justify-content: center;
		}

		&__item {
			max-width: 310px;

			&:nth-child(2),
			&:nth-child(3) {
				max-width: 230px;
			}
		}

		&__img {
			max-width: 70px;
		}
	}

	// --------------- info
	.info {
		margin-bottom: 1em;

		&__card {
			max-width: 400px;

			&:hover .info__span::after {
				right: -30px;
			}
		}

		&__img {
			width: 58px;
		}

		&__title {
			font-size: var(--fontsize--twenty-eight);
		}

		&__span {
			font-size: var(--fontsize--twenty);

			&::after {
				right: -18px;
			}
		}
	}

	// --------------- accessible-tabs
	.accessible-tools {
		&__img {
			right: -60px;
			width: 60px;
		}
	}
}

@media (min-width: 992px) {
	.section-heading {
		font-size: var(--fontsize--thirty-fourth);
	}

	// --------------- aside  SOCIALS
	.socials {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 2em;

		&__btn {
			padding: 0.4em 2em;
			background-color: var(--white-color);
			border: none;
			transform: skew(-20deg);

			&::before {
				background-color: var(--green-color);
			}

			&-text {
				display: inline-block;
				transform: skew(20deg);
			}
		}

		&__box-icon {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__icon {
			width: 70px;

			&--fb {
				filter: brightness(1.5);
			}
		}
	}

	// --------------- nav
	.nav {
		&__list {
			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 66px;
				height: 80px;
				background-color: var(--white-color);
			}

			&::before {
				top: -42px;
				left: -31px;
				transform: rotate(-38deg);
				box-shadow: 3px -28px 12px 3px var(--shadow-color);
			}

			&::after {
				top: -42px;
				right: -31px;
				transform: rotate(38deg);
				box-shadow: 7px -3px 10px -7px var(--shadow-color);
			}
		}
	}
}

@media (min-width: 1200px) {
	.contact__svg-icon {
		top: -174px;
		height: 196px;
	}

	.adds {
		margin-bottom: 5em;
	}
}
