@media (max-width: 768px) {
	body{
		overflow: hidden;
	}

	.nav {
		&__item:last-child > .nav__link:not(.nav__dropdown .nav__item:last-child > .nav__link) {
			color: var(--white-color);
			background-color: var(--blue-color);
		}
	}
}

@media (min-width: 300px) {
	.headerTop {
		padding: 0.4em 1em;
	}
}
