@use 'reset' as *;
@use 'colors' as *;

body {
	font-family: 'Archivo', sans-serif;
	font-size: var(--fontsize--twenty);
	background-color: var(--blue-color);
	transition: filter 0.3s;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.white {
	background-color: var(--white-color);
}

.white.main {
	transform: translateY(-60px);
	z-index: 2;
}

.section-heading {
	position: relative;
	margin-bottom: 1.2em;
	font-size: var(--fontsize--thirty);
	text-align: center;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	&::before {
		bottom: -15px;

		width: 20px;
		height: 20px;
		background-color: var(--gray-color);
		border: 5px solid var(--white-color);
	}

	&::after {
		bottom: -6px;

		width: 150px;
		height: 1px;
		background-color: var(--blue-color);
		z-index: -1;
	}
}

.section-padding {
	padding: 0 2em;
}

.btn-special-animation {
	position: relative;
	font-weight: bold;
	transition: background-color var(--time-transition);
	overflow: hidden;
	z-index: 0;
	cursor: pointer;

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 120%;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform var(--time-transition);
		z-index: -1;
	}

	&:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}
}

// --------------- aside  SOCIALS
.socials {
	display: none;
}

.white {
	position: relative;
	z-index: 4;
}

// --------------- aside  headerTop
.headerTop {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8em 0.4em;
	background-color: var(--white-color);
	z-index: 2;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: var(--white-color);
		box-shadow: 1px 1px 10px 2px var(--shadow-color);
		z-index: -1;
	}

	&__box-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.3em;
		color: var(--black-color);
		text-decoration: none;
	}

	&__logo {
		width: 50px;
	}

	&__text-logo {
		font-size: var(--fontsize--thirty);
		font-weight: 600;
	}

	&__box-btn {
		display: none;
	}

	&__btn-nav {
		width: 80px;
		cursor: pointer;
		z-index: 2;

		> .line {
			transition: stroke-dasharray 400ms ease-in-out,
				stroke-dashoffset 600ms ease-in-out;
		}
		> .line1 {
			stroke-dasharray: 56.5, 200;
		}
		> .line2 {
			stroke-dasharray: 56.5, 200;
		}
		> .line3 {
			stroke-dasharray: 56.5, 200;
		}
	}
}

// --------------- nav
.nav {
	position: fixed;
	top: 80px;
	display: flex;
	justify-content: center;
	padding-top: 3em;
	width: 100%;
	height: 100%;
	background-color: var(--white-color);
	transform: translateX(104%);
	transition: transform var(--timelong-transition);
	box-shadow: 0px 0px 8px 2px var(--shadow-color);
	overflow: scroll;
	z-index: 3;

	&__list {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	&__link {
		display: block;
		position: relative;
		padding: 0.6em 1.2em;
		margin: 0.2em 0;
		color: var(--black-color);
		font-size: var(--fontsize--twenty-fourth);
		font-weight: 400;
		text-decoration: none;
		transition: border-left var(--time-transition);
		cursor: pointer;
		user-select: none;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scaleY(0);
			background-color: var(--blue-color);
			transition: transform var(--time-transition);
		}

		&:hover::before {
			transform: scaleY(1);
		}
	}

	&__dropdown {
		position: absolute;

		li {
			display: none;
			background-color: var(--white-color);
			opacity: 0;

			& > a {
				margin: 0;
			}
		}
	}

	&__item:hover .nav__dropdown {
		position: relative;

		li {
			display: block;
			animation: dropdown-animation 0.5s forwards;

			&:nth-child(2) {
				animation-delay: 0.2s;
			}
			&:nth-child(3) {
				animation-delay: 0.4s;
			}
			&:nth-child(4) {
				animation-delay: 0.6s;
			}
		}
	}
}

// --------------- header
.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 500px;
	color: var(--white-color);
	background-image: url('../img/header1-small.jpg');
	background-size: cover;
	background-position: center;
	transform: translateY(-60px);
	transition: background-image var(--timelong-transition);
	text-align: center;
	z-index: 0;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: var(--shadow-color);
		z-index: -1;
	}

	&__headline {
		font-weight: 600;
	}

	&__text,
	&__btn {
		display: none;
	}
}

// --------------- featured
.featured {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 3em;
	height: auto;
	transform: translateY(-150px);

	&__card {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 0.8em;
		padding: 2em 1.8em 1em;
		margin: 1em 0;
		width: 100%;
		max-width: 175px;
		background-color: var(--blue-color);
		text-decoration: none;
		transition: box-shadow var(--time-transition);
		box-shadow: 1px 1px 4px 0px var(--shadow-color);
		overflow: hidden;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			right: -64px;
			top: -62px;
			width: 100px;
			height: 150px;
			background-color: var(--darkgray-color);
			transform: rotate(-45deg);
		}

		&:hover .featured__img {
			transform: scale(1.2);
		}
	}

	&__img {
		transition: transform 0.3s;
		width: 80%;
	}

	&__text {
		color: var(--white-color);
		font-weight: 600;
		font-size: var(--fontsize--twenty-six);
		text-shadow: 1px 1px 1px var(--shadow-color);
	}
}

// --------------- news
.news {
	transform: translateY(-130px);

	&__list {
		gap: 3em;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__card {
		display: flex;
		flex-direction: column;
		max-width: 300px;
		border-bottom: 5px solid var(--blue-color);
		box-shadow: 0 1px 1px 0 var(--shadow-color);
		text-align: center;
	}

	&__head {
		display: block;
		height: 100%;
		overflow: hidden;
	}

	&__img {
		object-fit: cover;
		transition: transform var(--time-transition);

		&:hover {
			transform: scale(1.2);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: 0.8em 1em 1.2em;
		height: 100%;
	}

	&__title {
		position: relative;
		font-size: var(--fontsize--eighteen);
		margin-bottom: 0.8em;

		&::before {
			content: '';
			position: absolute;
			bottom: -4px;
			left: 50%;
			transform: translateX(-50%);
			height: 2px;
			width: 50px;
			background-color: var(--blue-color);
		}

		&:hover {
			color: var(--blue-color);
		}
	}

	&__text {
		display: block;
		font-size: var(--fontsize--sixteen);
		line-height: var(--fontsize--eighteen);
		margin-bottom: 1.4em;
		color: var(--gray-color);
	}

	&__link {
		align-self: center;
		display: block;
		padding: 0.2em;
		margin-top: auto;
		width: 110px;
		color: var(--white-color);
		background-color: var(--blue-color);
		font-weight: 400;
		text-decoration: none;

		&::before {
			background-color: var(--green-color);
		}
	}
}

// --------------- contact
.contact {
	position: relative;
	background-color: var(--black-color);

	&__svg-icon {
		position: absolute;
		top: -100px;
		left: 0;
		height: 120px;
		width: 100%;
		fill: var(--black-color);
		object-fit: cover;
	}

	&__content {
		padding-top: 2em;
		padding-bottom: 1em;
		color: var(--white-color);
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		display: flex;
		align-items: center;
		width: 100%;
		overflow: hidden;
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 1em 0.4em;
	}

	&__img {
		max-width: 50px;
	}

	&__info {
		font-size: var(--fontsize--eighteen);
	}

	&__text {
		display: block;
		font-size: var(--fontsize--sixteen);
	}
}

// --------------- info
.info {
	transform: translateY(-100px);
	margin-bottom: 1.8em;

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1em;
	}

	&__card {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 1em;
		width: 100%;
		max-width: 300px;
		color: var(--white-color);
		background-color: var(--darkgray-color);
		transition: background-color 0.3s;
		overflow: hidden;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			right: -125px;
			bottom: -133px;
			width: 240px;
			height: 170px;
			background-color: var(--blue-color);
			transform: rotate(130deg);
		}

		&:hover {
			background-color: var(--black-color);

			.info__img {
				transform: scale(1.2);
			}

			.info__span::after {
				right: -20px;
			}
		}
	}

	&__link {
		text-decoration: none;
		color: inherit;
	}

	&__img {
		margin-right: 1em;
		width: 45px;
		transition: transform 0.3s;
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__span {
		position: relative;
		color: inherit;
		font-size: var(--fontsize--sixteen);
		text-decoration: none;

		&::after {
			content: '»';
			position: absolute;
			right: -15px;
			top: 50%;
			transform: translateY(-50%);
			transition: right 0.3s;
		}
	}
}

// --------------- adds
.adds {
	position: relative;
	margin-bottom: 1em;
	width: 100%;
	height: 66px;
	overflow: hidden;
	transform: translateY(-100px);

	&__content {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 660%;
		overflow: hidden;
	}

	&__img {
		height: 60px;
		animation: logoScroll 50s linear infinite;
	}
}

// --------------- footer
.footer {
	position: relative;
	color: var(--white-color);
	text-align: center;

	&__text {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: -16px;
		left: 0;
		width: 100%;
		height: 66px;
		font-size: var(--fontsize--sixteen);
		background-color: var(--darkgray-color);
	}
}

// --------------- disabled
.accessible-tools {
	position: fixed;
	left: 0;
	top: 15%;
	padding: 1em 0.6em;
	background-color: var(--white-color);
	border: 2px solid var(--blue-color);
	transform: translateX(-100%);
	transition: transform var(--timelong-transition);
	z-index: 11;
	user-select: none;

	&__img {
		position: absolute;
		top: -2px;
		right: -55px;
		width: 55px;
		cursor: pointer;
	}

	&__title {
		display: block;
		margin-bottom: 0.4em;
		font-size: var(--fontsize--twenty-two);
		font-weight: 600;
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		gap: 0 0.4em;
		color: var(--black-color);
		text-decoration: none;
		padding: 0.2em 0.4em;

		&::before {
			content: '';
			position: absolute;
			top: 90%;
			left: 0;
			width: 100%;
			height: 3px;
			transform: scaleX(0);
			background-color: var(--blue-color);
			transition: transform var(--time-transition);
		}

		&:hover::before {
			transform: scaleX(1);
		}
	}

	&__icon {
		width: 20px;
	}
}

// --------------- about-scholl
.about-scholl {
	padding: 4em 1em 1em;

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1.4em;
	}

	&__img {
		max-height: 500px;
	}

	&__right {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 430px;
	}

	&__title {
		font-size: var(--fontsize--twenty-fourth);
		margin-bottom: 0.4em;
	}

	&__text {
		font-size: var(--fontsize--eighteen);
		line-height: var(--fontsize--eighteen);
		margin-bottom: 0.4em;
	}
}

// --------------- staff-school
.staff-school {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
	overflow: hidden;

	&__carousel {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 100%;
		gap: 1.6em;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scrollbar-width: 0;
		scroll-behavior: smooth;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__card {
		position: relative;
		height: 362px;
		border-bottom: 5px solid var(--blue-color);
		text-align: center;
		box-shadow: 0 0 8px 0 var(--shadow-color);
		scroll-snap-align: start;
		overflow: hidden;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			right: -67px;
			top: 191px;
			width: 76px;
			height: 150px;
			background-color: var(--darkgray-color);
			transform: rotate(-45deg);
			z-index: 1;
		}
	}

	&__box {
		width: 100%;
		height: 240px;
		overflow: hidden;
	}

	&__img {
		width: 100%;
		height: 240px;
		object-fit: cover;
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.2);
		}
	}

	&__title {
		color: var(--blue-color);
		margin-top: 0.6em;
	}

	&__btn {
		position: absolute;
		top: 55%;
		left: 43px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 5px solid var(--gray-color);
		font-size: 2.2rem;
		line-height: 2.2rem;
		text-align: center;
		transform: translate(-50%, -50%);
		z-index: 2;
		cursor: pointer;

		&--right {
			left: calc(100% - 43px);
		}
	}
}

// --------------- libray
.library {
	margin-top: 2em;

	&__text {
		color: var(--darkgray-color);
		font-size: var(--fontsize--eighteen);
		text-align: center;
	}

	&__table {
		margin: 1em auto;
		border-collapse: collapse;
	}

	&__row {
		border-bottom: 2px solid var(--blue-color);
		transition: color 0.3s;

		&:hover {
			color: var(--green-color);
		}
	}

	&__cell {
		text-align: center;
		padding: 0.4em; 

		&:nth-child(2n) {
			font-weight: bold;
			color: var(--blue-color);
		}
	}
}

@import 'small';
@import 'medium';

@keyframes dropdown-animation {
	0% {
		opacity: 0;
		transform: rotate(36deg);
	}
	100% {
		opacity: 1;
		transform: rotate(0);
	}
}

@keyframes logoScroll {
	0%,
	100% {
		transform: translate(0);
	}
	50% {
		transform: translate(-55%);
	}
}

////  ----- interaction
.draw-line {
	stroke-dasharray: 100, 200 !important;
	stroke-dashoffset: -121;
}

.submitted-line {
	stroke-dashoffset: 57;
}

.active {
	transform: translateX(0);
}

.hidden {
	overflow: hidden;
}

.work {
	background-color: var(--special-color);
}

.dragging {
	scroll-snap-type: none;
	scroll-behavior: auto;
	cursor: grab;
	user-select: none;
}

.no-transition {
	scroll-behavior: auto;
}

////  ----- scrollbar
::-webkit-scrollbar {
	width: 14px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--blue-color);

	&:hover {
		background-color: var(--darkgray-color);
	}
}

::-webkit-scrollbar-track {
	background-color: var(--white-color);
}
